body {
    background-color: #6b446b;
}

.navegador {
    background-color: #ee98ee;
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: auto;
    height: auto;
}

.section1 {
    background-color: #ee98ee;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 60px;
    font-family: cursive;
    box-shadow: 0px 0px 30px 10px #2e042e;
    border-radius: 10px;
    padding: 10px;
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee98ee;
    width: 300px;
    height: 300px;
    margin: 3%;
    box-shadow: 0px 0px 30px 10px #2e042e;

}

.container5 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 10px;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c4c4c4; 
    width: 400px;
    height: 400px;

}